/*!
 * Copyright (c) 2023 Eclipse Foundation, Inc.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * Contributors:
 *   Christopher Guindon <chris.guindon@eclipse-foundation.org>
 *
 * SPDX-License-Identifier: EPL-2.0
*/

@import '~eclipsefdn-solstice-assets/less/astro/main.less';
@import '_variables.less';

@import 'base/_typography.less';

@import 'components/_buttons.less';
@import 'components/_featured-jumbotron.less';
@import 'components/_resources.less';

footer {
  .nav li a {
    color: @black;
  }
}

.default-breadcrumbs {
  margin-bottom: 3rem;
}
