/*!
 * Copyright (c) 2023 Eclipse Foundation, Inc.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * Contributors:
 *   Olivier Goulet <olivier.goulet@eclipse-foundation.org>
 *
 * SPDX-License-Identifier: EPL-2.0
*/

@import (reference) '../styles.less';

h1,
.h1 {
  color: @brand-primary;
}

h2,
.h2 {
  text-align: center;
}

.featured-jumbotron {
  padding: 12rem 0;
  background-image: url('../images/jumbotron-bg-home.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;

  .btn-group-pill-collapse {

    // Make the last button in the list primary.
    li:last-child .btn-pill {
      .btn-primary;
    }

    // Make the other buttons neutral.
    li .btn-pill {
      .btn-neutral;
    }
  }

  .list-inline {
    // @todo: Add ability to override jumbotron links class in EFHST
    // then remove this and use btn-group-pill-collapse
    .btn-group-pill-collapse;

    li:first-child .btn-pill {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    li:last-child .btn-pill {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    li:not(:first-child):not(:last-child) .btn-pill {
      border-radius: 0;
    }
  }
}

@media (min-width: @screen-md-min) {
  .featured-jumbotron {
    padding: 24rem 0;
    text-align: left;

    &>.container {
      filter: unset;
    }
  }
}