{{/* 
  Copyright (c) 2024 Eclipse Foundation, Inc.

  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License v. 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0.

  SPDX-License-Identifier: EPL-2.0
*/}}

{{ $main_menu := .Scratch.Get "main_menu" }}
{{ $current_page := . }}

<nav class="mobile-menu hidden" aria-expanded="false">
    <ul>
        {{ range (index .Site.Menus $main_menu) }}
            {{ $menu_id := .Identifier | default (lower .Name) }}
            {{ $target_menu := printf "%s-menu" $menu_id }}

            <li class="mobile-menu-dropdown">
              <a class="mobile-menu-item mobile-menu-dropdown-toggle" href="{{ .URL }}">
                <span>{{ .Name }}</span>
                </a>
            </li>
        {{ end }}
    </ul>
</nav>

