<div class="margin-top-30">
    <div>
        <div class="col-md-14 col-lg-17">
            <a href="https://www.cypherbridge.com" title="Cypherbridge Systems" target="_blank">
                <img src="https://membership.eclipse.org/organization/images/1646-web.jpg" alt="Cypherbridge logo"
                title="Cypherbridge Systems" class="img-responsive padding-top-25 padding-bottom-25">

            </a>

            <p>Cypherbridge SDKPac for Eclipse ThreadX is fully integrated with the ThreadX family,
                offering a wide selection of SDKs that value-add and expand the security and safety features
                of the Eclipse ThreadX platform. From IoT to OT, SDKPac is tailored and project ready
                for ThreadX powered platforms.</p>

                <p>With an extensive history of delivering solutions on the ThreadX platform,
                Cypherbridge Systems works across a broad range of industry
                sectors including medical device, industrial control, energy, consumer product, transporation,
                and more.</p>

                <p>From greenfield designs, to product refresh and retrofit, SDKPac for ThreadX,
                together with Cypherbridge design services and long-term technical support,
                is a total solution for the software and product lifecycle, with continuity
                across planning, R&D, production and support.</p>

            <p>See <a href="https://www.cypherbridge.com/ThreadX" title="Cypherbridge Systems" target="_blank">https://www.cypherbridge.com/ThreadX</a> for more details.</p>

        </div>

        <div>
            <div class="col-md-14 col-lg-17">
                <a href="https://rtosx.com" title="RTOSX" target="_blank">
                    <img src="https://membership.eclipse.org/organization/images/1642-web.png" alt="RTOSX logo"
                        title="RTOSX" class="img-responsive padding-top-25 padding-bottom-25">
                </a>

                <p><b>Leverage Decades of Eclipse ThreadX Expertise</b><br />
                    The RTOSX team comprises the original ThreadX RTOS authors and many of the associated
                    middleware components, such as FILEX, GUIX, NETX DUO, and USBX. Combining personnel from
                    Microsoft&#39;s pre- and post-acquisition of Express Logic in 2019, RTOSX is uniquely positioned to
                    provide ThreadX developers with expert technical support, allowing your development team
                    to focus solely on your product.</p>

                <p><b>Fully Ticketed Professional Support</b><br />
                    RTOSX&#39;s fully ticketed professional support for ThreadX comes with a Service Level Agreement
                    (SLA) that typically ensures a same-day response and swift issue resolution. This comprehensive
                    service includes monitoring the ThreadX open-source community and proactively alerting
                    developers to significant issues, including Common Vulnerabilities and Exposures (CVE). By
                    unblocking technical and security issues and relieving the burden of continuous monitoring,
                    RTOSX&#39;s services enable development teams to focus on their core tasks.</p>

                <p><b>Extended Long-Term Support (ELS)</b><br />
                    RTOSX offers extended long-term support (ELS) for specific ThreadX (and middleware)
                    versions, which extends for up to 10 years as part of their support packages. This service allows
                    teams to leverage the benefits of open source while confidently meeting their device lifecycle
                    and maintenance requirements, ensuring the longevity and stability of their products.</p>

                <p><b>Access To ThreadX Resource Center</b><br />
                    Access to our Resource Center is included in all RTOSX support packages. We created this new
                    content to help past, present, and new ThreadX developers. The Resource Center contains a knowledge
                    base,
                    source code repositories guide, quick reference card, new ThreadX User Guide, and Training
                    Materials.</p>

                <p><b>Our Team is Dedicated to Helping You!</b><br />
                    Our team is dedicated to supporting any issues you have regarding ThreadX, FILEX, GUIX,
                    NETX, and USBX and associated middleware. Please contact us today to learn more!<br />
                    <a href="https://rtosx.com" title="RTOSX" target="_blank">https://rtosx.com</a></p>
            </div>
        </div>
        <div>
            <div class="col-md-14 col-lg-17">
                <a href="https://witekio.com/" title="Witekio Holding" target="_blank">
                    <img src="https://membership.eclipse.org/organization/images/1644-web.png"
                        alt="Witekio Holding logo" title="Witekio Holding"
                        class="img-responsive padding-top-25 padding-bottom-25">
                </a>

                <p>Witekio is a leading provider of end-to-end embedded and IoT software services for OEMs, offering
                    expertise from custom Board Support Packages (BSPs) and Graphical User Interfaces (GUI) to
                    Connectivity and IoT Security.</p>

                    <p>As an Avnet company, Witekio offers software expertise with a hardware mindset, providing seamless
                    solutions that optimize the capabilities of embedded systems.</p>

                    <p>We strongly support the open-source community to ensure that embedded technology and open-source
                    software thrive. From this foundation, our team of 160+ engineers extend support to our customers to
                    provide security, maintenance, customization, and connectivity services on top of the open-source
                    base.</p>

                    <p>Please visit <a href="https://witekio.com/" title="Witekio Holding" target="_blank">https://witekio.com/</a> to learn more.</p>

            </div>
        </div>
    </div>
